.Login{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Background{
  background-image: url(vet_bg3.jpg);
  margin-top: 50rem;
  right: 10px;
  width: 100%; 
  height: 500px;
  position: absolute; 
  background-size: contain;
}
.LoginBox{
  position: absolute;
  margin-top: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 470px;
  height: 600px;
  background-color: rgba(235, 228, 220, 0.89);
  padding: 20px;
  border-radius: 30px;
  background-image: url(vet_bg.jpg);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border:2px solid #49b1ee; 
}
.LoginHeader{
  margin-top: -90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: bolder;
  color: rgb(55, 113, 240);
  font-size: 30px;
  text-shadow: 0 0 3px #180606
}
.inputs{
  padding: 20px
}
.name{
  width: 70%;
  height: 40px;
  border-radius: 6px;
  border-width: 1px;
  border-color: rgb(236, 109, 109);
  margin-top: 10px;
  text-align: center;
  position:relative; left: 60px;
}
.password{
  width: 70%;
  height: 40px;
  border-radius: 6px;
  border-width: 1px;
  border-color: rgb(165, 79, 79);
  margin-top: 10px;
  text-align: center;
  position:relative; left: 60px;
}
.submitbutton{
  margin-top: -180px;
  width: 100px;
  height: 35px;
  background-color: rgb(192, 44, 93);
  color: white;
  font-size: medium;
  border-radius: 8px;
}
.submitbutton:hover{
  background-color: rgb(113, 62, 207);
}